<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>

      <ion-col size="12" size-md="6" *ngFor="let grupo of grupos">
        <ion-item-sliding [attr.track]="grupo.flAtivo == 1">
          <ion-item routerLink="/grupos/grupos-formulario/{{grupo.id}}">
            <ion-label>
              <h3>{{grupo.nome}}</h3>
              <p *ngIf="grupo.flDev == 1">
                GRUPO DE DESENVOLVEDORES
              </p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-col>


    </ion-item-group>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="grid-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="filtros()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-fab-button> 
      <ion-fab-button color="secondary" (click)="nova()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>     
    </ion-fab-list>
  </ion-fab>

</ion-content>
